.idea/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/runConfigurations/**
*.iml
*.ipr
*.iws


out/
*.class
.gradle/




out/
# build/           ← 注释掉或删除
# **/build/        ← 注释掉或删除
*.class
.gradle/


run/
fabric-server-launch.properties
fabric-server-launch.lock


!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
!gradlew
!gradlew.bat


.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.lnk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/


*.log
*.stackdump
hs_err_pid*
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.ctxt
atlassian-ide-plugin.xml


local.properties
gradle-app.setting
.gradletasknamecache
[Dd]esktop.ini
